<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Pokud soubor nebo složka existuje (obrázky, JS, CSS), prostě ji naservíruj
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Vše ostatní pošli na index.html (React Router se o to postará)
  RewriteRule ^index\.html$ - [L]
  RewriteRule . /index.html [L]
</IfModule>
